target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/*/target/

**/typings
**.js
**.map
**/node_modules
**/jspm_packages
**/bower_components
/ui/dist/
/server/target/
/server/src/main/java/META-INF/
/server/.mvn/
