<div class="row">
  <div class="center-block col-md-3">
    <div class="input-group col-md-12 input-offset">
      <input class="form-control" type="text" [(ngModel)]="login" name="account" placeholder="Email">
    </div>
    <div class="input-group col-md-12 input-offset">
      <input class="form-control" type="password" [(ngModel)]="password" name="pass" placeholder="Password">
    </div>
    <input (click)="signUp()" type="submit" name="signUp" class="btn btn-primary col-md-12" value="Sign Up">
  </div>
</div>
