.demo-card-wide.mdl-card {
  width: 400px;
  float: left;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;

}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.demo-card-square.mdl-card {
}

.demo-card-wide > .container1{
  background: url('../../../assets/images/1.jpg') center / cover;
}

.demo-card-wide > .container2{
  background: url('../../../assets/images/2.jpg') center / cover;
}

.demo-card-wide > .container3{
  background: url('../../../assets/images/3.jpg') center / cover;
}
