<p>
  template-builder works!
</p>

<div class="mdl-textfield mdl-js-textfield">
  <input class="mdl-textfield__input" [(ngModel)]="template.templateName" type="text" id="templateName">
  <label class="mdl-textfield__label" for="templateName">Template name</label>
</div>

<div class="mdl-textfield mdl-js-textfield">
  <input class="mdl-textfield__input" [(ngModel)]="layer.layerName" type="text" id="layerName">
  <label class="mdl-textfield__label" for="layerName">Layer name</label>
</div>

<div class="mdl-textfield mdl-js-textfield">
  <input class="mdl-textfield__input" [(ngModel)]="layer.layerType" type="text" id="layerType">
  <label class="mdl-textfield__label" for="layerType">Layer type</label>
</div>

<button (click)="addLayer()"
        class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
  <i class="material-icons">add</i>
</button>

<button (click)="goUp()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
  Go UP
</button>

<div *ngFor="let l of getLayers()">
  <h4 (click)="selectLayer(l)">{{l.layerName}} {{l.layerType}}</h4>
</div>
