.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../../../assets/images/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.demo-card-square.mdl-card {
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.container1{
  margin: 75px;
}
