<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">Layers list</div>

      <div *ngIf="isLastLevel == true">

        <div class="alert alert-warning" role="alert">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="student.name" placeholder="Student name">
            <span class="input-group-btn">
            <button (click)="addStudent()" class="btn btn-default" type="button">Add student</button>
          </span>
          </div>
        </div>

        <table class="table table-hover">
          <thead>
          <tr>
            <th>Name</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let l of getStudents()">
            <td style="background-color: #f4f4f4">
              <input type="text" class="form-control" [(ngModel)]="l.name" placeholder="Student name">
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <table *ngIf="isLastLevel == false" class="table table-hover">
        <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Length</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let l of getLayers()" (click)="selectLayer(l)">
          <td>{{l.layerType}}</td>
          <td>{{l.layerName}}</td>
          <td>{{l.layers.length}}</td>
        </tr>
        </tbody>
      </table>

      <div class="col-md-4">
        <button (click)="goUp()" class="col-md-4"
                class="btn glyphicon glyphicon-arrow-up col-md-2">
        </button>

        <input class="col-md-8" *ngIf="isLastLevel == true" type="file" id="attachment2" (change)="fileChange($event)" placeholder="Upload file" accept=".txt,.csv,.doc,.docx" required><br/>

      </div>

      <button (click)="saveJournal()" class="btn btn-primary pull-right">
        Save journal
      </button>

    </div>
  </div>
</div>
