<div class="container-fluid">

  <div class="row">

    <div class="col-md-5" *ngIf="journals == null || journals.length === 0">
      <h3>No journals found. <a href="/journal/create">Create</a></h3>
    </div>

    <div class="col-md-5" *ngIf="journals != null && journals.length !== 0">

      <div *ngIf="isSelected == false" class="col-md-12">

        <div class="alert alert-info" role="alert">My journals:</div>

        <div class="list-group">
          <ng-template ngFor let-t [ngForOf]="journals">
            <a (click)="selectJournal(t)" class="list-group-item col-xs-6">
              {{t.journalName}}
            </a>
            <div class="col-xs-6">
              <button class="btn btn-info" (click)="gotoFillJournal(t.id)">fill</button>
              <button class="btn btn-warning" (click)="gotoEditJournal(t.id)">edit</button>
              <button class="btn btn-success" (click)="shareJournal(t)">share</button>
            </div>
          </ng-template>
        </div>

      </div>

      <div *ngIf="isSelected == true" class="col-md-12">

        <div class="alert alert-info" role="alert">{{journal.journalName}}</div>

        <div>
          <div *ngIf="isLastLevel == false">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Length</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let l of getLayers()" (click)="selectLayer(l)">
                <td>{{l.layerType}}</td>
                <td>{{l.layerName}}</td>
                <td>{{l.layers.length}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <button *ngIf="isSelected == true" (click)="goUp()"
              class="btn glyphicon glyphicon-arrow-up">
      </button>

    </div>

    <div *ngIf="sharedJournal != null" class="col-md-7">
      <div class="alert alert-warning" role="alert">Users:</div>

      <div class="form-group bs-component">
        <input id="username" (keypress)="fetchUsers()" class="form-control" placeholder="Start typing a username"
               [(ngModel)]="userName"
               type="text">
      </div>

      <div class="list-group" *ngIf="users != null">
        <a *ngFor="let d of users" (click)="pickUser(d)" class="list-group-item"
           [class.absent]="isSelectedUser(d) == true">
          {{d.login}}
        </a>
      </div>

      <button class="btn btn-primary pull-right" *ngIf="sharedUsers != null && sharedUsers.length !== 0"
              (click)="updatJournal()">Share
      </button>

    </div>

    <div *ngIf="isSelected == true" class="col-md-7">
      <div class="alert alert-warning" role="alert">Statistics</div>
      <multiple-value-axes [averageScores]="averageScores">

      </multiple-value-axes>
    </div>

  </div>

</div>
