<h2>{{currentType}}</h2>
<ul>
    <li *ngFor="let t of getTemplates()">
        <span>{{t.templateName}}</span>
        <button (click)="selectTemplate(t.index); $event.stopPropagation()">Create child</button>
        <button (click)="displayChildren(t.index); $event.stopPropagation()">Display children</button>
    </li>
</ul>

<br/>

<div *ngIf="templates == null || isSelected == true">
    <input [(ngModel)]="newTemplate.type" placeholder="type"/>
    <input [(ngModel)]="newTemplate.templateName" placeholder="templateName"/>
    <input [(ngModel)]="newTemplate.password" placeholder="password"/>

    <button (click)="createTemplate()">Create</button>
</div>

<br/>

<div *ngIf="templates != null">
    <button (click)="goBack()">GO Back</button>
    <button (click)="saveTemplate()">Save template</button>
</div>