<ul>
    <li *ngFor="let t of templates">
        <span>{{t.templateName}}</span>
        <span>{{t.type}}</span>
        <button (click)="selectTemplate(t.index); $event.stopPropagation()">Create child</button>
    </li>
</ul>

<br/>

<div *ngIf="templates == null || isSelected == true">
    <input [(ngModel)]="newTemplate.type" placeholder="type"/>
    <input [(ngModel)]="newTemplate.templateName" placeholder="templateName"/>
    <input [(ngModel)]="newTemplate.password" placeholder="password"/>

    <button (click)="createTemplate()">Create</button>
</div>