.absent{
  background-color: #dfdfdf;
}

.mark{
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 18pt;
}

.td-column-left{
  text-align: left;
}

.td-column{
  text-align: center;
  width: 30px;
}

.name{
  width: 300px;
}

.mark{
  font-size: 12pt;
}

.today-column{
  text-align: right;
}

.menu-button{
  margin-left: 5px;
  margin-right: 5px;
}

.menu-info{
  margin-top: -10px;
}

.template-top{
  text-align: center;
}

.layer-type-name{
  font-size: 14pt;
}
