.demo-card-wide.mdl-card {
  width: 600px;
  float: left;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../../../assets/images/3.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.demo-card-square.mdl-card {
}

.absent{
  background-color: #bdbdbd;
}

.mark{
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 18pt;
}

.name{
  font-size: 18pt;
}
