<button (click)="goUp()"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Go UP
</button>

<button (click)="saveTemplate()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Save
</button>

<div *ngIf="isSelected == false">
  <div *ngFor="let t of templates">
    <h3 (click)="selectTemplate(t)">{{t.templateName}}</h3>
  </div>
</div>

<div *ngIf="isSelected == true">
  <div *ngIf="isLastLevel == true">
    <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col">
      <thead>
      <tr>
        <th class="td-column">Status</th>
        <th class="mdl-data-table__cell--non-numeric td-column">Name</th>
        <th *ngFor="let st of getLastStatistics()">
          {{st.date}}
        </th>
        <th>Today</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let l of getStudents()">
        <td [class.absent]="isAbsent(l) == true" class="td-column">
          <button (click)="setAbsent(l)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
            H
          </button>
        </td>
        <td [class.absent]="isAbsent(l) == true" class="mdl-data-table__cell--non-numeric name td-column">{{l.name}}</td>
        <th *ngFor="let st of l.statistics.slice(-5)">
          {{getStatusForSomeDate(st)}}
        </th>
        <td [class.absent]="isAbsent(l) == true">
          <div>
            <input [readonly]="isAbsent(l) == true" class="mark" type="text" [(ngModel)]="l.statistics[l.statistics.length - 1].status.mark">
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <table *ngIf="isLastLevel == false" class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col">
    <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Type</th>
      <th>Name</th>
      <th>Length</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let l of getLayers()" (click)="selectLayer(l)">
      <td class="mdl-data-table__cell--non-numeric name">{{l.layerType}}</td>
      <td class="name">{{l.layerName}}</td>
      <td>{{l.layers.length}}</td>
    </tr>
    </tbody>
  </table>
</div>
