.demo-card-wide.mdl-card {
  width: 600px;
  float: left;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../../../assets/images/3.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.demo-card-square.mdl-card {
}

.absent{
  background-color: #dfdfdf;
}

.mark{
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 18pt;
}

.td-column-left{
  text-align: left;
}

.td-column{
  text-align: center;
  width: 30px;
}

.name{
  font-size: 18pt;
}

.mark{
  font-size: 12pt;
}

.today-column{
  text-align: right;
}

.menu-button{
  margin-left: 5px;
  margin-right: 5px;
}
