<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
    <div class="mdl-card__title container3">
      <h2 class="mdl-card__title-text">Layers list</h2>
    </div>
    <div class="mdl-card__supporting-text">

      <div *ngFor="let i of templates">
        <h3 (onclick)="selectTemplate()">{{i.templateName}}</h3>
      </div>

    </div>
    <div class="mdl-card__menu">
      <button (click)="goUp()"
              class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Go UP
      </button>
    </div>

  </div>
  <div class="mdl-layout-spacer"></div>
</div>
