<button (click)="goUp()"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Go UP
</button>

<div *ngIf="isSelected == false">
  <div *ngFor="let t of templates">
    <h3 (click)="selectTemplate(t)">{{t.templateName}}</h3>
  </div>
</div>

<div *ngIf="isSelected == true">
  <div *ngIf="isLastLevel == true">
    <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th>Status</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let l of getStudents()">
        <td class="mdl-data-table__cell--non-numeric">{{l.name}}</td>
        <td>{{l.statistics[0].status.mark}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <table *ngIf="isLastLevel == false" class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col">
    <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Type</th>
      <th>Name</th>
      <th>Length</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let l of getLayers()" (click)="selectLayer(l)">
      <td class="mdl-data-table__cell--non-numeric">{{l.layerType}}</td>
      <td>{{l.layerName}}</td>
      <td>{{l.layers.length}}</td>
    </tr>
    </tbody>
  </table>
</div>
