<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div class="col-md-4">
        <div class="alert alert-warning" role="alert">Please, enter the journal name</div>

        <div class="input-group col-md-12 input-offset">
          <input class="form-control" [(ngModel)]="journal.journalName" type="text"
                 id="journalName"
                 [disabled]="isNamed === true" placeholder="Journal name">
        </div>

        <div class="input-group col-md-12 input-offset">
          <input class="form-control" type="text" id="password" [disabled]="isNamed == true"
                 placeholder="Password">
        </div>

        <div class="pull-right">
          <button (click)="edit()" class="btn glyphicon glyphicon-pencil"></button>
          <button (click)="enterName()"
                  class="btn glyphicon glyphicon-ok">
          </button>
        </div>
      </div>

      <div class="col-md-4">
        <div class="alert alert-info" role="alert">Create new layer</div>

        <div class="input-group col-md-12 input-offset">
          <input class="form-control" [(ngModel)]="layer.layerType" type="text" id="layerType"
                 placeholder="Layer type">
        </div>

        <div class="input-group col-md-12 input-offset">
          <input class="form-control" [(ngModel)]="layer.layerName" type="text" id="layerName"
                 placeholder="Layer name">
        </div>

        <div class="pull-right">
          <button (click)="addLayer()"
                  class="btn glyphicon glyphicon-plus-sign">
          </button>
        </div>
      </div>

      <div class="col-md-4">
        <div class="alert alert-success" role="alert">Layers list</div>
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="">Type</th>
            <th>Name</th>
            <th>Size</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let l of getLayers()" (click)="selectLayer(l)">
            <td class="">{{l.layerType}}</td>
            <td>{{l.layerName}}</td>
            <td>{{l.layers.length}}</td>
          </tr>
          </tbody>
        </table>

        <div class="pull-right">
          <button (click)="goUp()"
                  class="btn glyphicon glyphicon-arrow-up">
          </button>
          <button (click)="saveJournal()"
                  class="btn btn-success"
                  [disabled]="isNamed == false">
            Save journal
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
