.atoms li{
    background-color: #ebebeb;
    border-radius: 5px;
    height: 35px;
    list-style-type: none;
    text-align: center;
}

.atoms li:hover {
    background-color: #d3d3d3;
}

.templateName{
    font-family: Ebrima, sans-serif;
    font-size: 15pt;
}

.add{
    float: right;
}

.length{
    float: left;
}