.demo-card-wide.mdl-card {
  width: 500px;
  float: left;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../../../assets/images/3.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.demo-card-square.mdl-card {
}
