<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">Layers list</div>

      <div *ngIf="isLastLevel == true">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Name</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let l of getStudents()">
            <td>{{l.name}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <table *ngIf="isLastLevel == false" class="table table-hover">
        <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Length</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let l of getLayers()" (click)="selectLayer(l)">
          <td>{{l.layerType}}</td>
          <td>{{l.layerName}}</td>
          <td>{{l.layers.length}}</td>
        </tr>
        </tbody>
      </table>

      <div>
        <button (click)="goUp()"
                class="btn glyphicon glyphicon-arrow-up">
        </button>

        <div class="pull-right">
          <a (click)="gotoEditTemplate()" class="btn glyphicon glyphicon-pencil"></a>
          <a (click)="gotoFillTemplate()" class="btn btn-primary">Fill</a>
        </div>
      </div>
    </div>
  </div>
</div>
