<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div *ngIf="isSelected == false" class="alert alert-warning" role="alert">Select discipline and journal</div>

      <div *ngIf="isSelected == true || isSelected == true && isLastLevel == true" class="alert alert-info"
           role="alert">

        <div class="align-center">
          <button *ngIf="isSelected == true" (click)="goUp()"
                  class="btn glyphicon glyphicon-arrow-up">
          </button>

          <button *ngIf="isSelected == true && isLastLevel == true"
                  class="btn btn-primary">
            {{discipline.name}}
          </button>

          <button *ngIf="isSelected == true && isLastLevel == true" (click)="saveJournal()"
                  class="btn brn-success">
            Save
          </button>
        </div>
      </div>

      <div *ngIf="isSelected == false" class="col-md-12">
        <div class="col-md-6">
          <div class="alert alert-info" role="alert">Disciplines:</div>

          <div class="list-group">
            <a *ngFor="let d of disciplines" (click)="setDiscipline(d)" class="list-group-item"> {{d.name}}</a>
          </div>

        </div>

        <div class="col-md-6" *ngIf="discipline != null">
          <div class="alert alert-success" role="alert">Journals:</div>

          <div class="list-group">
            <ng-template ngFor let-t [ngForOf]="journals">
              <a (click)="selectJournal(t)" class="list-group-item">{{t.journalName}}</a>
            </ng-template>
          </div>

        </div>
      </div>

      <div class="col-md-12">
        <div *ngIf="isSelected == true">

          <div *ngIf="isLastLevel == false">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Length</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let l of getLayers()" (click)="selectLayer(l)">
                <td>{{l.layerType}}</td>
                <td>{{l.layerName}}</td>
                <td>{{l.layers.length}}</td>
              </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="isLastLevel == true">
            <app-modal>
              <div id="myModal" class="modal fade in" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">To start a new lesson?</h4>
                    </div>
                    <div class="modal-footer">
                      <button (click)="setFlagIsNewLesson(false)" type="button" class="btn btn-default"
                              data-dismiss="modal">Continue previous
                      </button>
                      <button (click)="setFlagIsNewLesson(true)" type="button" class="btn btn-primary"
                              data-dismiss="modal">Yes
                      </button>
                    </div>
                  </div>

                </div>
              </div>
            </app-modal>

            <table *ngIf="null!=isNewLesson" class="table table-hover">
              <thead>
              <tr>
                <th>Name</th>
                <th *ngFor="let st of getLastStatistics()">
                  {{st.date}}
                </th>
                <th>H</th>
                <th>AVG</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let l of getStudents()">
                <td [class.absent]="isThere(l) != true">
                  <button (click)="setAbsent(l)" class="name btn btn-default">
                    {{l.name}}
                  </button>
                </td>
                <td [class.absent]="isThere(l) != true" class="td-column"
                    *ngFor="let st of getStatisticsForLastFewDays(l)">
                  {{getStatusForSomeDate(st)}}
                </td>
                <td [class.absent]="isThere(l) != true" class="td-column">
                  <div>
                    <input [readonly]="isThere(l) != true" class="mark" type="text"
                           [(ngModel)]="l.statistics[l.statistics.length - 1].status.mark">
                  </div>
                </td>
                <td class="td-column stat-h">
                  <div>
                    {{getPassesNumber(l)}}
                  </div>
                </td>
                <td class="td-column stat-avg">
                  <div>
                    {{getAVG(l)}}
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
