<div class="container-fluid">
  <div class="row">

    <div class="col-md-12" *ngIf="disciplines === null || disciplines.length === 0">
      <h3>No disciplines found. <a href="/discipline/create">Create</a></h3>
    </div>

    <div class="col-md-12" *ngIf="disciplines !== null && disciplines.length !== 0">

      <div *ngIf="isSelected == false" class="alert alert-warning" role="alert">Select discipline and journal</div>

      <div *ngIf="isSelected == true || isSelected == true && isLastLevel == true" class="alert alert-info"
           role="alert">

        <div>
          <div class="align-center">
            <button *ngIf="isSelected == true" (click)="goUp()"
                    class="btn glyphicon glyphicon-arrow-up">
            </button>

            <button *ngIf="isSelected == true"
                    class="btn btn-primary">
              {{discipline.name}}
            </button>

            <button *ngIf="isSelected == true" (click)="saveJournal()"
                    class="btn btn-success">
              Save
            </button>

            <button *ngIf="isSelected == true" (click)="createNewRecord()"
                    class="btn btn-warning pull-right">
              New lesson
            </button>
          </div>

        </div>

      </div>

      <div *ngIf="isSelected == false" class="col-md-12">
        <div class="col-md-6">
          <div class="alert alert-info" role="alert">Disciplines:</div>

          <div class="list-group">
            <a *ngFor="let d of disciplines" (click)="setDiscipline(d)" class="list-group-item"
               [class.absent]="d === discipline">
              {{d.name}}
            </a>
          </div>

        </div>

        <div class="col-md-6" *ngIf="discipline != null">
          <div class="alert alert-success" role="alert">Journals:</div>

          <div *ngIf="academicPlans == null || academicPlans.length === 0">
            No academic plans found for this discipline.
          </div>

          <div class="list-group" *ngIf="academicPlans != null">
            <ng-template ngFor let-t [ngForOf]="academicPlans">
              <a (click)="selectAcademicPlan(t)" class="list-group-item">{{t.layer.layerType}}:
                {{t.layer.layerName}}</a>
            </ng-template>
          </div>

        </div>
      </div>

      <div class="col-md-12">
        <div *ngIf="isSelected == true">

          <div>
            <app-modal>
              <div id="myModal" class="modal fade in" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">To start a new lesson?</h4>
                    </div>
                    <div class="modal-footer">
                      <button (click)="setFlagIsNewLesson(false)" type="button" class="btn btn-default"
                              data-dismiss="modal">Continue previous
                      </button>
                      <button (click)="setFlagIsNewLesson(true)" type="button" class="btn btn-primary"
                              data-dismiss="modal">Yes
                      </button>
                    </div>
                  </div>

                </div>
              </div>
            </app-modal>

            <app-modal *ngIf="isShowTheme && lesson && lesson.theme">
              <div id="theme" class="modal fade in" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content col-md-8 align-center">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" (click)="showTheme()">&times;
                      </button>
                      Theme: {{lesson.theme}}
                      <br>
                      Description: {{lesson.description}}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="close" data-dismiss="modal" (click)="showTheme()">Close
                      </button>
                    </div>
                  </div>

                </div>
              </div>
            </app-modal>

            <table *ngIf="null!=isNewLesson" class="table table-hover">
              <thead>
              <tr>
                <th>Name</th>
                <th *ngFor="let st of getLastLessons()" (click)="showTheme(st)"
                    [class.selected-lesson-type]="selectedLessonType === st.lessonType">

                  {{st.statistics[0].date}}

                </th>
                <th>H</th>
                <th>AVG</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let l of getStudents()">
                <td [class.absent]="isThere(l) != true">
                  <button (click)="setAbsent(l)" class="name btn btn-default">
                    {{l.name}}
                  </button>
                </td>
                <td [class.absent]="isThere(l) != true" class="td-column"
                    *ngFor="let st of getStatisticsForLastFewDays(l)" (click)="editMark(st)"
                    [class.selected-lesson-type]="selectedLessonType === st.lessonType"
                    [class.absent]="editedStatistics === st">
                  {{getStatusForSomeDate(st)}}
                </td>
                <td [class.absent]="isThere(l) != true" class="td-column">
                  <div>
                    <input [readonly]="isThere(l) != true"
                           (change)="updateCell(l.statistics[l.statistics.length - 1])"
                           class="mark"
                           type="text"
                           [(ngModel)]="l.statistics[l.statistics.length - 1].status.mark">
                  </div>
                </td>
                <td class="td-column stat-h">
                  <div>
                    {{getPassesNumber(l)}}
                  </div>
                </td>
                <td class="td-column stat-avg">
                  <div>
                    {{getAVG(l)}}
                  </div>
                </td>
              </tr>
              </tbody>
            </table>

            <app-modal *ngIf="editedStatistics != null">
              <div id="myModal1" class="modal fade in" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content col-md-4 align-center">
                    <div class="modal-header">
                      <button type="button" class="close" (click)="saveStatistics()" data-dismiss="modal">&times;
                      </button>
                      <h4 class="modal-title">Edit the mark</h4>
                    </div>
                    <div class="modal-footer">
                      <button type="button" *ngIf="!editedStatistics.status.isThere" (click)="eraseH()"
                              class="btn btn-primary">Erase the "H"
                      </button>

                      <div *ngIf="editedStatistics.status.isThere">
                        <input class="mark"
                               type="text"
                               [(ngModel)]="editedStatistics.status.mark">
                        <button type="button" class="btn btn-primary" (click)="saveStatistics()"
                                data-dismiss="modal">Save
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </app-modal>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
